@mixin article-card($color, $bordercolor, $fontsize: 1rem) {
    border: 1px solid $bordercolor;
    color: $color;
    font-size: $fontsize;
}

.exercise2 {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    h1 {
        
        text-align: center;
        color: green;
        text-decoration: underline;
        text-decoration-color: blue;
        text-decoration-thickness: 2px;
    }
    section {
        margin: 1rem;
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    article {
        .red {
            padding: 20px;
            @include article-card(red, green)
        }
        .blue {
            padding: 20px;
            @include article-card(blue, green)
        }
        
    }
    .last {
        padding: 20px;
        @include article-card(green, blue, 24px);
        display: flex;
        flex: auto;
        justify-content: center;
    }
}

