body {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
      "green green green"                
      "yellow red blue"                  
      "orange orange blue";
  
  }
  
  section {
    padding: 2em;
    margin: 1em;
  }
  
  #green {
    background-color: #8ffda7;
    grid-area: green;
  }
  
  #orange {
    background-color: #ffc788;
    grid-area: orange;
  }
  
  #yellow {
    background-color: #ffff92;
    width: 20em;
    grid-area: yellow;
  }
  
  #red {
    background-color: #ff919c;
    width: 20em;
    grid-area: red;
  }
  
  #blue {
    background-color: #98d2ff;
    grid-area: blue;
  }
  
  ul {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr;
  }
  
  li {
    display: grid;
    width: 4em;
    background-color: white;
    padding: 1em;
    margin: 1em;
  }
  