.time {
    color: rgb(0, 162, 255);
}
.border {
    border: 1px solid maroon;
    width: 300px;
}

.children {
    background-color: white;
    border: 1px solid red;
}

.title {
    background-color: maroon;
    border: 1px solid goldenrod;
}